




.enter-icon {
  max-width: 200px;
  height: 50px;
}

.comment-card {
  background: #525252;
  border-radius: 20px;
}

.content-card-height{
  height: 210px;
}


.border-dot-top {
  border-top: 1px dotted gray;
}

.product-rounded {
  border-radius: 30px;
}

.product-img-rounded {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.full-rounded {
  max-width: 100%;
  border-radius: 80px;
}

.swiper {
  padding-bottom:  48px;
  margin-bottom: 24px;
}

.swiper-pagination.swiper-pagination-bullets {
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0px;
}

.swiper-pagination-bullet {
  background-color: #525252;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  width: 12px;
  height: 12px;
  background-color: #ffffff;
}



@media (max-width:1279px) {
  .enter-icon {
    max-width: 160px;
    height: 40px;
  }
}

@media (max-width:960px) {
  .enter-icon {
    max-width: 100px;
    height: 25px;
  }
}




@media (max-width:540px) {
  .our-service {
    flex-wrap: wrap;
  }

  .ei-3 ,.ei-4,.ei-5,.ei-6,.ei-7,.ei-10,.ei-11,.ei-12 {
    display: none;
  }
}